body {
    display: flex;
    flex-direction: row;
}
.productList {
    width: 60%;
}
.cart {
    width: 35%;
}
.amout {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contentProduct {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 16px; 
}

@media (min-width: 600px) {
    .contentProduct {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 900px) {
    .contentProduct {
        grid-template-columns: repeat(3, 1fr); 
    }
}

.myCart {
 position: relative;
    padding: 0px;
    box-sizing: border-box; 
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.imgcontent img {
    width: 100%; 
    object-fit: cover;
    height: 165px;
}
.imgcontent {
    width: 100%;
    height: 150px;
}
.amout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}
.catg {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(124, 124, 124);
}
.details {
    width: 100%;
    line-height: 10px;
}
.namep {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: .9em;
}
.amount {
    width: 100%;
    text-align: center;
}
.btnplas {
    border-right: 0;
    border-radius: 9px 0 0 9px ;
    -webkit-border-radius: 9px 0 0 9px ;
    -moz-border-radius: 9px 0 0 9px ;
    -ms-border-radius: 9px 0 0 9px ;
    -o-border-radius: 9px 0 0 9px ;
    border: 0;
    background-color: red;
    color: white;
    font-weight: 600;
    width: 35px;
}
.btnMins {
    border-left: 0;
    border-radius: 0 9px 9px 0 ;
    -webkit-border-radius: 0 9px 9px 0 ;
    -moz-border-radius: 0 9px 9px 0 ;
    -ms-border-radius: 0 9px 9px 0 ;
    -o-border-radius: 0 9px 9px 0 ;
    border: 0;
    background-color: red;
    font-weight: 600;
    color: white;
    width: 35px;
}
.amo {
background-color: red;
color: white;
font-weight: 600;

text-align: center;
}
.addy {
    width: 80px;
    font-size: .8em;
    font-weight: 600;
    border: 2px solid red;
    background-color: white;
    color: red;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
.addy:hover {
    width: 85px;
    background-color: red;
    color: white;
    border: 0;
}
.pppppf {
    color: red;
}
.pppp {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.Cartcontent {
overflow: scroll;
scroll-behavior: smooth;
}
.Cartcontent {
        width: 80%;
        margin: auto;
        height: 400px;
        margin-top: 70px;
        margin-left: 100px;
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
        border: 1px solid rgb(214, 214, 214);
        font-family: Arial, Helvetica, sans-serif;
}
.Cartcontent h2 {
    text-align: center;
    color: red;
}
.con  {
    width: 97%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
}
.rP {
    color: red;
}
.cc {
    color: rgb(138, 138, 138);
    font-size: .8em;
}
.fffee {
    font-weight: 600;
    color: chocolate;
    font-size: .8em;
}
.one {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.divDele {
    height: 100%;
    display: flex;
    align-items: center;
}
.btnDel {
    width: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: red;
    background-color: white;
    font-weight: 600;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 773px) {
    body {
        flex-direction: column;
    }
    .productList {
        width: 97%;
    }
    .cart {
        width: 97%;
    }
    .Cartcontent {
        width: 100%;
        margin: auto;
        height: 400px;
        margin-top: 70px;
        margin-left: 0px;
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
        border: 1px solid rgb(214, 214, 214);
        font-family: Arial, Helvetica, sans-serif;
}
}

.redPrice {
    color: red;
}

.Tot {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}